.heading-text{
    margin-top: 4rem;
    text-align: center;
    z-index: 20;
    font-size: var(--text-size-1);
    color: var(--main-color);
    font-family: var(--header-font);
    opacity: 0;
    transform: translateY(20px); /* Initial position off-screen */
    animation: fadeIn 1s ease-out forwards; /* Animation duration and easing */
}

.heading-contact{
    padding-top: 120px;
}
.heading-over-ons{
    padding-top: 120px;
}

.heading-branding{
    text-align: center;
    z-index: 20;
    font-size: 4rem;
    color: var(--off-white);
    font-family: var(--special-font);
}

.contact-header{
    height: 340px;
}
.over-ons-header{
    height: 360px;
}

.banner{
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
        background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;

    // .banner-backdrop{
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -100;
    //     background-color: rgba($color: #000000, $alpha: 0.4);
    //     background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
    // background-blend-mode: darken;

    // }

    .banner-img{
        position: absolute;
        left: 0;
        top: 2rem;
        width: 100%;
        height: 80%;
        z-index: -150;
        object-fit: cover;
        object-position: center;
        overscroll-behavior: inherit;
    }
}