@media(max-width: 1200px) {

    h1{
        font-size: var(--text-size-2) !important;
    }
    h2{
        font-size: var(--text-size-3) !important;
    }
    .branding{
        font-size: var(--text-size-2);
    }

    .nav .list {
        width: 80% !important;

        li a{
            font-size: var(--text-size-6);
        }
    }

    .bg-box{
        display: none;
    }
}


@media(max-width: 1050px){
    /* Navbar */
    .nav{
        .branding{
            font-size: var(--text-size-1) !important;
        }

        .nav-flex{
            flex-direction: column;
        }
        .list{
            position: absolute;
            right: -15px;
            width: 45% !important;
            height: max-content;

            .nav-contact{
                flex-direction: column;
                align-items: flex-start;
                width: 80%;
                height: 100%;
                border: 1px solid var(--main-color);
                border-top: none;
                border-radius: 0px 0px 10px 10px;
                background: rgba(14, 94, 20, 0.8);

                .adres, .tel-nummer{
                    width: 100%;
                    padding-left: 1rem;                    
                }

                .tel-nummer{
                    border-bottom: 1px solid var(--main-color);
                }
                
                .nav-contact-i{
                    color: var(--off-white) !important;
                }

                a{
                    width: 100%;
                    p{
                        font-size: var(--text-size-7);
                        color: var(--off-white) !important;
                        width: 100%;
                        padding: 10px;
                        
                    }
                }

            }

            ul {
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 3.5rem;
                width: 80%;
                height: 100%;
                border: 1px solid var(--main-color);
                border-top: none;
                background: rgba(0, 0, 0, 0.8);

                li{
                    width: 100%;
                    padding: 10px 0;
                    border-bottom: 1px solid var(--main-color);
                    a{
                        color: var(--off-white) !important;
                        font-size: 20px !important;
                    }
                }
            }
        }

        .hide{
            top: -30rem !important;
        }

        .menuI{
            display: block !important;
        }
    }

    #samenwerking{
        .columns{
            .afbeelding{
                justify-content: flex-start;

                img{
                    width: 100%;
                }
            }

        }
    }

    #ressorten{
        .ressort-cards-container{
            justify-content: center;
        }

    }

    .grid-card{
        .ressort-gallery{
            grid-template-rows: 130px 130px;
        }
    }

    // Home slider text
    .cover{
        h1{
            text-align: center;
        }
    }

    // General slider styles
    .location-container{
        .ressort-details-i{
            font-size: var(--text-size-6);
        }
        h4{
            font-size: var(--text-size-5);
        }
    }


    // Modal Image

    .overlay{
        img{
            max-width: 630px;
            max-height: 85%;
        } 
    }

    #form{
        width: 100%;
        margin: 0 auto;
        min-width: 300px;

        .wrapper{
            width: 95%;
        }

        form > * {
            width: 350px;
        }

        input, textarea{
            width: 100%;
        }
    
        input{
            height: 30px;
        }
    
        label{
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .email{
            margin: 5px 0 15px 0;
        }

        .contact-form{
            width: 100%;

            .form-row{
                flex-direction: column;
                gap:15px;
                
                .name-form, .phone{
                    input{
                        width: 350px !important;
                    }
                }
            }

        }
    
        .bevestigen{
            width: 200px;

            input{
                font-size: 18px !important;
            }
        }

    }

    

}

@media(max-width: 650px) {

    
    body::-webkit-scrollbar{
        display: none;
    }

    h1{
        font-size: var(--text-size-3) !important;
    }
    h2{
        font-size: var(--text-size-4) !important;
    }
    .branding{
        font-size: var(--text-size-3);
    } 

    /* Nav */
    .nav{
        padding: 0;
        .list{
            width: 70% !important;
        }

        .nav-contact{
            min-width: 70% !important;
            .nav-contact-i{
                font-size: 14px;
            }
            p{
                font-size: 8px;
                
            }
        }
    }

    .gallery-img{
        width: 330px;
    }

    .overlay{
        img{
            max-width: 320px;
            max-height: 85%;
        } 
    }

    // General Slider styles
    .swiper-button-next,
    .swiper-button-prev{
        opacity: 0;
    }

    // Form
    #form{
        form > * {
            width: 280px !important;
        }
        .contact-form{
            .form-row{
                .name-form, .phone{
                    input{
                        width: 280px !important;
                    }
                }
            }
        }
    }

    // OLD PROJ RES

    .main-btn, .secundary-btn, .btn-delete {
        padding: 5px 10px;
    }
    
    .form-wrapper{
        min-width: 320px;
    }    

    .footer{
        width: 100%;
        padding: 1rem 2.2rem 0 0;

        .openingstijden{
            p{

                font-size: var(--text-size-6);
            }
        }

        .footer-columns{
            height: 400px;
        }

    }
}