.socials{
    margin-top: 3rem;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--off-white);

    a{
        color: var(--off-white);
    }

    .social-i{
        font-size: 1.8rem;
        transition: color 0.2s ease-in-out;
    }
    .social-i:hover{
        color: var(--secund-color);
    }
}
.socials > *{
    margin-right: 10px;
}