export default {
    title: "Vita Tours",
    description: "Vita Tours Suriname",
    openGraph: {
        title: "Vita Tours",
        type: 'website',
        url: 'https://vitatours.sr',
        site_name: 'Vita Tours',
        images: [
          {
            url: 'https://firebasestorage.googleapis.com/v0/b/vita-health-images.appspot.com/o/vitalogo.png?alt=media&token=afcf955c-9652-4849-b801-11b6b4c6212c',
            width: 1200,
            height: 630,
            alt: 'Og Image Alt',
          },
        ],
    },    
}